.customToolBar{
    background: linear-gradient(to right, #71b280b9, #134e5ea4) !important;
    backdrop-filter: blur(8px);
    color: #ffffff !important;
    border-bottom: #414141 1px solid;
    box-shadow: #414141 0px 0px 10px 0px;
}