.source{
    font-family: 'Lato', sans-serif;
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: xx-small;
}

.titulares{
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin: 0 0 5% 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}

.fechaPublicacion{
    font-family: 'Lato', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contentBody{
    font-family: 'Lato', sans-serif;
    margin: 0 0 15% 0;
    padding: 0;
    list-style: none;
}