.conversor{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.conversorReverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: all 0.5s;
}

.swapIcon{
    color: rgb(45, 108, 45);
    font-size: xx-large;
    border: #414141 1px solid;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
}

.swapIcon:hover{
    color: rgb(45, 108, 45);
    font-size: xx-large;
    border: #414141 1px solid;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: #414141 0px 0px 10px 0px;
}

.swapIcon:active{
    transform: rotate(180deg);
}